{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="{% static 'generator/cv.css' %}">
</head>
<body>
    <p>{% for key, value in personal_details.items %}
        {% if value %}
        | {{value}}
        {% endif %}
        {% endfor %}|
    </p>
    <br>
    <p>
    {{edu_section}}
    </p>
    <br>
    <p>
    {{skills_section}}
    </p>
    <br>
    <p>
    {{work_exp_section}}
    </p>
</body>
</html>